#root {
  --primary-color: #21272f;
  --secondary-color: #00bd95;
  --tertiary-color: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}
body {
  min-height: 100vh;
}
.hexagonContainer {
  position: relative;
  height: 100vh;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  }
  100% {
  }
}
.row {
  display: inline-flex;
  margin-top: -2rem; /* Ajuste proporcional al tamaño del hexágono */
  margin-left: -3rem; /* Ajuste para evitar espacios en blanco */
}

.row:nth-child(even) {
  margin-left: 0.1rem; /* Ajuste menor para filas alternas */
}
.hexagon {
  position: relative;
  width: 6.25rem; /* Equivalente a 100px */
  height: 6.875rem; /* Equivalente a 110px */
  margin: 0.0625rem; /* Margen equivalente a 1px */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}
.hexagon:hover {
  transition: 0s;
  background-color: var(--secondary-color);
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.25rem; /* Equivalente a 4px */
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--primary-color);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.02);
}

.smallHexagon {
  position: relative;
  width: 3.125rem; /* Equivalente a 50px */
  height: 3.4375rem; /* Equivalente a 55px */
  margin: 0.03125rem; /* Margen equivalente a 0.5px */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.bigHexagon {
  position: relative;
  width: 18.75rem; /* Equivalente a 300px */
  height: 20.625rem; /* Equivalente a 330px */
  margin: 0.1875rem; /* Margen equivalente a 3px */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}
.bigHexagonReflex {
  position: relative;
  width: 18.75rem; /* Equivalente a 300px */
  height: 20.625rem; /* Equivalente a 330px */
  margin: 0.1875rem; /* Margen equivalente a 3px */
  clip-path: polygon(50% 0%, 100% 25%, 100% 35%, 0% 35%, 0% 75%, 0% 25%);
  transition: 2s;
  opacity: 0.3;
  background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color) 30%);
}
